# Python
__pycache__/
*.py[cod]
*.pyo
.venv/

# Base de données
database.db

# uv
.python-version

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Notes personnelles et autres fichiers de travail
doc/
c:\projet_test_citerneo\Exercice-technique-Chevallier.docx
